* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #09090a;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

button {
  /* Espaçamento Interno */
  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  border: 1px solid #8b5cf6;

  background-color: transparent;

  /* Posicionamento */
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 125%;
  color: #FFF;

  transition: all 1s;
}
button:hover {
  background-color: #000000;
}

/* Área de conteúdo principal */
form {
  display: flex;

  padding: 0 3rem;
}

/* Div de Hábitos */
.habits {
  margin-top: 3.6rem;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

/* Divs de icon de hábitos individual */
.habit {
  width: 4rem;
  height: 4rem;

  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition: scale 0.4s ease;
}
.habit:hover {
  scale: 1.06;
}

/* Área de "calendário" */
form .days {
  display: flex;
  gap: 3rem;
  margin-left: 2rem;
}

/* Área de dias individualmente */
.days .day {
  display: flex;

  gap: 1.5rem;
  flex-direction: column;
}

/* Div que informa a data */
.day div {
  padding-bottom: 10px;
  margin-bottom: 0.5rem;

  position: relative;

  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 20px;

  color: #a1a1aa;
}

/* Adicionando linha que aparecerá abaixo do elemento */
.day div::after {
  content: " ";

  width: 0%;
  height: 4px;
  border-radius: 10px;

  position: absolute;
  bottom: 0;
  left: 0;

  transition: all 0.5s ease-in-out;
  background-color: #202038;
}

/* Configurando o aparecimento */
.day div:hover::after {
  width: 100%;
}

/* Configurações de input de seleção / checkbox */
input {
  appearance: none;
  -webkit-appearance: none;

  width: 4rem;
  height: 4rem;

  border: 2px solid #27272a;
  border-radius: 0.5rem;

  background-color: #18181b;

  transition: background-color 0.4s ease;
}

/* Pseudo-Selector
  
    Vai dizer que: quando estiver selecionado, tenha estas propiedades
  */
input:checked {
  background-color: #8b5cf6;
  border: 2px solid #a78bfa;
}

input:hover {
  background-color: rgba(171, 146, 230, 0.3);
}
