* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  list-style: none;
}

  body {
    background-color: #09090A;
    height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
  }

  button {
    /* Espaçamento Interno */
    padding: 1rem 1.5rem;

    border-radius: 0.5rem;
    border: 1px solid #8b5cf6;

    background-color: transparent;

    /* Posicionamento */
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 125%;
  }

  /* Área de conteúdo principal */
  form {
    display: flex;

    padding: 0 3rem;
  }

  .habits {
    margin-top: 3.6rem;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;
  }

  .habit {
    width: 4rem;
    height: 4rem;

    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  /* Área de "calendário" */
  form .days {
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
  }

  /* Área de dias individualmente */
 .days .day {
    display: flex;

    gap: 1.5rem;
    flex-direction: column;
  }

  /* Div que informa a data */
  .day div {
    margin-bottom: 0.5rem;

    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;

    color: #A1A1AA;
  }

  /* Configurações de input de seleção / checkbox */
  input {
    appearance: none;
    -webkit-appearance: none;

    width: 4rem;
    height: 4rem;

    border: 2px solid #27272a;
    border-radius: 0.5rem;

    background-color: #18181b;
  }

  /* Pseudo-Selector
  
    Vai dizer que: quando estiver selecionado, tenha estas propiedades
  */
  input:checked {
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;
  }

